.card-container {
  display: flex;
   width:73em;

   margin-top:-1em;
   margin-left: 10em;;
   //border:2px red solid;
}

.card{
  border:2px red solid;
  margin:5px;
  height:15em;
  width:17.5em;
  padding:13px;
  border-radius: 10px;;
}