.slider-container {
  position: relative;
  width: 95%;
  margin: auto;
}


.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: center;
}

.slick-slide {
  padding: 0 10px;
  box-sizing: border-box;
}


.card {
  position: relative;
  height: 400px;
  border-radius: 8px;
}


.card img {
  position: absolute;
  left: -9.4em;
  top: 1.5em;
  width: 79%;
  border-radius: 8px;
  z-index: 1;
  height: 300px;
}


.card p{
    position:absolute;
    top:0.5em;
    font-size:7.2em;
    font-weight:900;
    left: -6.8em;
    width: 100%;
    z-index: 2;
    color: white;
}

.card span{
    position:absolute;
    top:1.56em; 
    left: -6.63em; 
    color: black;
    font-size:7em;
    font-weight:900;
    width: 100%;
    z-index: 10;
}



.arrow {
  position: absolute;
  top: 40%;
  z-index: 20;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  
  
}

.prev {
   
  left: -0px;
}

.next {
  right: 0px;
}


@media (max-width: 1024px) {

  .card {
    height: 320px;
  }

  .card img {
    left: -6em;
    width: 85%;
    height: 240px;
  }

  .card p {
    font-size: 5em;
    left: -5em;
  }

  .card span {
    font-size: 4.9em;
    left: -4.6em;
  }
}


@media (max-width: 640px) {

  .card {
    height: 260px;
  }

  .card img {
    left: -3.5em;
    width: 90%;
    height: 200px;
  }

  .card p {
    font-size: 3.5em;
    left: -3.2em;
  }

  .card span {
    font-size: 3.4em;
    left: -3.1em;

  }


  .arrow {
    padding: 6px;
  }
}
